#DS Store
.DS_Store

#Node Modules
node_modules

#webpack default output folder
client/dist/bundle.js
client/dist/Proxima Nova Regular.ttf
client/dist/Engravers' Gothic BT.ttf

#SQL mock data seeding
dresses.sql
photos.sql
reviews.sql
users.sql
